.itens-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px 50px;
}
.itens-container h1 {
  color: pink;
}

.itens-container img {
  width: 300px;
  height: 300px;
}
