.container {
  display: flex;
  flex-direction: column;
  min-height: 87.5vh;
}
.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.629);
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 25%;
  min-height: 70vh;
}

.img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
  width: 74%;
  border-radius: 50%;
  overflow: hidden;
}
.img-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.content h1 {
  color: rgb(187, 59, 81);
  font-size: 3rem;
}

.content p {
  color: rgb(187, 59, 81);
}
